@using StudentsApp.Entities;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Student>
<thead>
    <tr>
        <th>Adı Soyadı</th>
        <th>Bölüm</th>
        <th>Hobiler</th>
        <th>Sınıf Ögretmeni</th>
        <th>Rehber Öğretmeni</th>
        <th class="nosort">İşlem</th>

    </tr>
</thead>
<tbody>
    @foreach (Student item in Model)
    {
        <tr>
            <td>@item.Fullname</td>
            <td>@item.Departman.Name</td>
            <td>
                @if (item.Hobbies != null)
                {
                    @foreach (Hobby hobby in item.Hobbies)
                    {
                        <div>@hobby.Name</div>
                    }
                }
                else
                {

                }
            </td>


            <td>@item.Teacher.Name</td>
            <td>@item.GuidanceCounselor.Name</td>
            <td>
                <button onclick="detailStudent(this,@item.Id)" type="button" class="btn btn-warning pt-1 pb-1 mb-1">Detay</button>
                <button onclick="showDeleteModal(this,@item.Id)" type="button" class="btn btn-danger pt-1 pb-1 mb-1" data-bs-toggle="modal" data-bs-target="#modaldelete" student-name="@item.Fullname">Sil</button>
            </td>
        </tr>
    }

</tbody>

<script>
    //<h5 class="modal-title" id = "modaldeletetitle" > </h5>
    function showDeleteModal(btn, id) {
        $("#txtDeleteModalValidation").text("");
        var studentName = $(btn).attr("student-name");
        $("#modaldeletetitle").text(`Öğrenci ${studentName}- Silme Nedeniniz`)
        $("#btnformdelete").attr("onclick",`deleteStudent(${id})`)
        //console.log(studentName);
    }
    function detailStudent(btn, id) {
        $.get(`/Home/GetStudentById/${id}`,function(data){
            $("#formFullname").val(`${data.fullname}`)
            $("#formDepartman").val(`${data["departmanId"]}`)
            $("#formHobby").val(`${data.hobbyId}`)
            $("#formteacher1").val(`${data.teacherId}`)
            $("#formTeacher2").val(`${data.guidanceCounselorId}`)
        }).done(function(){
            $("#btnUpdate").attr("data-id",id)
        });
        
    }
</script>
